<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Tech Talk!</title>
    <link rel='stylesheet' href='/css/jass.css' />
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='preconnect' href='https://fonts.googleapis.com'/>
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin/>
    <link
      href='https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'
      rel='stylesheet'
    />
  </head>

  <body>
    <div class='justify-space-around'>
      <header class='display-flex justify-space-between align-center p-2'>
        <h1>
          <a href='/'><img style='height: 100px' src='../images/tech_talk.png' /></a>
        </h1>
        <nav>
          <!-- Conditionally render login or logout links -->
          {{#if logged_in}}
            <a href='/'>home</a>
            |
            <a href='/dashboard'>dashboard</a>
            |
            <button class='no-button' id='logout'><a href="">logout</a></button>
          {{else}}
            <a href='/login'>login</a>
          {{/if}}
        </nav>
      </header>
      <main class='container'>
        <!-- Render the sub layout -->
        {{{body}}}
      </main>
      <footer>
      <div class="text-center">
<p>Ivy McCurdy ©2023</p>
      </div>
      </footer>
    </div>

    <!-- Render script for logged in users only -->
    {{#if logged_in}}
      <script src='/js/logout.js'></script>
    {{/if}}
  </body>

</html>