body {
  background-color: black;
}

header {
  color: white;
}

.post {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 800px;
  background-color: white;
  border-radius: 2px;
  border-color: #5390d9;
  box-shadow: -2px 1px 5px #0000ff, 2px 1px 5px red, 0 3px 5px rgb(0, 255, 0);
}

.grow {
  border-radius: 10px;
  height: 49px;
  margin: 5px 1% 5px 1%;
  float: left;
  position: relative;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  text-align: center;
  overflow: hidden;
}
.grow:hover {
  height: 145px;
}

h2 {
  text-align: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0.134);
  font-family: 'Bebas Neue', sans-serif;
  margin: 10px;
}

footer {
  border-top: 2px solid rgba(0, 0, 0, 0.134);
  padding: 15px;
  margin: 10px;
  margin-bottom: 0;
}

p {
  margin: 15px;
}

a {
  color: white;
  font-size: x-large;
  font-weight: bold;
  font-family: 'Bebas Neue', sans-serif;
}

.flex-column {
  flex-direction: column;
  background-color: white;
  border-radius: 2px;
  box-shadow: -2px 1px 5px #0000ff, 2px 1px 5px red, 0 3px 5px rgb(0, 255, 0);
}

.btn {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 20px;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #56cfe1;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #5390d9;
  text-decoration: none;
}
