body {
  background-color: black;
}

header {
  color: black;
  /* border-bottom: 1px solid #ccc; */
}

h2 {
  background-color: blue;
  font-family: 'Bebas Neue', sans-serif;
}

a {
  font-size: larger;
  font-weight: bold;
  font-family: 'Bebas Neue', sans-serif;
}

.flex-column {
flex-direction: column;
 background-color: white;
 border-radius: 2px;
 border-color: #5390D9;
 box-shadow: -2px 1px 5px #0000ff, 2px 1px 5px red, 0 3px 5px rgb(0, 255, 0);
} 

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #56CFE1;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #5390D9;
  text-decoration: none;
}

